@charset "UTF-8";

/*TELAS PEQUENAS */

@media screen and (max-width: 375px) {
    body {
      flex-direction: column;
      background-image: url('./images/bg-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  }