@charset "UTF-8";

/*TELAS PEQUENAS */
@media screen and (min-width: 320px) {
  /* Configuração para fundo da tela - Background */

  body {
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
     }

    /* Logotipo Huggle */

  img.imagem-huddle {
    width: 120px;
    max-width: 350px;
    margin: 20px;
    display: block; 
  }

  /* Container imagem e texto lado a lado */
  div.container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
  }

  /* Imagem da tela do Huddle à esquerda */
  .imagem-principal-1 {
    width: 90%; 
    max-width: 600px; 
    transform: translate(10%);

  }

  /* Texto da tela do Huddle à direita */
  .texto-direito {
    width: 90%; 
    max-width: 600px; 
    text-align: center;
    margin-left: 10px;
    line-height: 1.3; 
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: white;
    margin: 20px 0px 0 0px;
    padding-bottom: 15px;
  }

  p {
    width: 100%; 
    max-width: 500px; 
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    
    margin: 0; /* Remove margens padrão */
  }

  /* Botão Registrar-se */

  .botao-registrar {
    font-family: "Poppins", sans-serif;
    padding: 10px 50px; 
    font-size: 16px; 
    cursor: pointer; 
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
    border-radius: 25px;
  
    transition: background-color 0.3s; 
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
    input.botao-registrar:hover {
      background-color: hsl(300, 69%, 71%);;
      color: white;
      transition: 0.5s;
      cursor: pointer;
    }


  /* Configuração para as redes sociais */
  .Logo-redes-sociais {
    margin: auto;
    transform: translate(35%, 130%); 
    gap: 10px; 
    font-size: 40px;

    border-radius: 50%;
  }

  .Logo-redes-sociais ion-icon {
    font-size: 20px;
    color: white; 
    cursor: pointer;
    border-radius: 50%;
  }

  .Logo-redes-sociais ion-icon:hover {
    transform: scale(1.2);
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
}

}